@media(max-width:1200px){
	.games-rn_list .games_inder_items{
		margin-right:20px;
	}
	.top_game_btns {
		width: 51%;
		margin: 25px 19%;
	}
	.p_boxes{
		justify-content:center;
	}
	.p_boxes .col-lg-4{
		margin: 0 30px;
	}
}
@media (max-width: 991px) {
	.menu_list li a {
		font-size: 12px;
	}
	.search_input_box {
		width: 215px;
		position: relative;
		margin-top: 15px;
	}
	.search_game_box {
		align-items: center;
	}
	.games_under {
		flex-direction: column;
		align-items: center;
	}
	.games_inder_items,
	.games-rn_list .games_list_btn_li .games_list_btn{
		margin-bottom: 30px;
	}
	.game_box {
		height: 415px;
	}
	.game_img img {
		width: 100%;
		height: auto;
	}
	.top_game_btns {
		width: 70%;
		margin: 25px 7%;
	}
	.inner_balance {
		padding-top: 10px;
		justify-content: flex-start;
	}
	.p_boxes .inner_balance,
	.p_boxes .buys{
		justify-content: flex-end;
	}
	.p_boxes .inner_balance{
		margin: 0 10px 10px 10px;
	}
	.balance {
		padding-left: 10px;
	}
	.personal_box_text,
	.log_out_text {
		font-size: 46px;
	}
	.buys {
		justify-content: flex-start;
		padding-top: 10px;
		padding-left: 10px;
	}
	/*.log_out_text {
		font-size: 30px;
	}*/
	.bonus_max_text.min {
		font-size: 25px;
	}
	.bonus_max_text {
		font-size: 37px;
	}
	.bonus_min_text {
		font-size: 16px;
	}
	.games-rn_name, .games_name{
		margin-top:20px;
	}
	.games-rn_list{
		justify-content:center;
	}
	.pull_down{
		top:0;
		margin-bottom: 60px;
	}
	.succes_row {
		justify-content: center;
	}
	.security_box{
		border:none;
	}
	.guarantees{
		justify-content:center;
	}
	.guarante_box{
		padding-bottom:15px;
	}
	.basic_items .container .row:first-child{
		margin-bottom:0;
	}
	.guarantees .guarante_box:last-child{
		padding-bottom:100px;
		border-bottom: 2px solid #f0d22a;
	}
	.menu_list {
		display: flex;
		justify-content: center;
		background-color: #fff;
		position: relative;
		z-index: 9999;
		padding-left: 15px;
		text-align: center;
		box-shadow: 0 2px 5px 1px #ccc;
	}
	.menu_list_2 {
		box-shadow: none;
	}
	.drop_down_menu {
		position: absolute;
		top: 25px;
		background-color: transparent;
		padding: 0;
		display: none;
		border: 0;
		text-align: center;
		padding-top: 10px;
	}
	.drop_down_menu li a {
		color: #000;
	}
	.menu_list li a {
		font-size: 16px;
	}
	.p_boxes .col-lg-4{
		margin: 0;
	}
	.comment{
		width:100%;
	}
	.comment svg{
		display:block;
		height: 40px;
		min-width: 40px;
	}
	.log_out_hide{
		display:inline-block;
	}
	.dropdown-item, .dropdown-item,
	.drop_down_menu li a, .drop_down_menu li.active a,
	.menu_list li a, .menu_list li.active a,
	.user_label span{
		transition:all .15s linear;
	}
	.menu_list li a:hover, .menu_list li.active a:hover,
	.dropdown-item:hover, .dropdown-item:focus,
	.drop_down_menu li:hover a, .drop_down_menu li.active a{
		color:#aaa;
		font-weight:unset;
	}
	.menu_list li:hover a{
		font-weight:unset;
	}
	.menu_list li:hover, .menu_list li.active{
		border-color:transparent;
	}
	.menu_list li{
		margin:0;
	}
	.user_label{
		padding-bottom:30px!important;
	}
	.user_label:hover span{
		color:#aaa;
	}
	.menu_margin .menu_list{
		padding-top:15px;
	}
	.menu_margin .menu_list_3,
	.menu_margin .menu_list_2{
		padding-bottom:15px;
	}
}

@media (max-width: 768px) {
	.col-0 {
		display: none;
	}
	.slider_fluid {
		display: none;
	}
	.free_right {
		display: none;
	}
	.free_left {
		width: 100%;
		align-items: center;
	}
	.free_fluid .slide_text_max {
		font-size: 26px;
		font-weight: 600;
	}
	.succes_box {
		margin-bottom: 50px;
	}
	.game_img img {
		width: auto;
		height: 100%;
		margin-left: -20px;
	}
	.personal_box {
		margin-bottom: 15px;
	}
	.top_game_btns {
		width: 77%;
		margin: 25px 3%;
	}
	.pull_down{
		margin-bottom: 0px;
	}
	.game_box:hover > .game_box_inner {
    	opacity: unset;
	}
	.game_box > .game_box_inner {
    	opacity: 1;
	}
	.games_list_box{
		display:flex;
		flex-direction:column;
		align-items: center;
	}
}

@media (max-width: 576px) {
	.free_text_min {
		font-size: 15px;
	}
	.game_box {
		width: 100%;
		height: 400px;
	}
	.game_price_box {
		font-size: 14px;
	}
	.top_game_btns {
		width: 50%;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}
	.top_game_btn_a {
		margin-bottom: 15px;
	}
	.game_box_title {
		font-size: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.game_box_text {
		font-size: 20px;
	}
	.game_box:hover > .game_price_box {
		bottom: 5px;
		font-size: 13px;
	}
	.free_btn {
		width: 90%;
	}
	.game_img img {
		width: 100%;
		height: 100%;
		margin-left: 0;
	}
	.free_fluid {
		height: 280px;
	}
	.free_text_min {
		text-align: center;
	}
	.free_btn {
		margin-top: 0;
	}
	.logon_list li {
		width: 100%;
	}
	.footer_center_box {
		width: 100%;
	}
	.game_box_promcode {
		width: 90%;
	}
	.game_box_promcode input {
		width: 100%;
	}
	.bonus_max_text.min {
		font-size: 18px;
	}
	.games-rn_list{
		flex-direction:column;
		justify-content:center;
	}
	.games-rn_list .games_inder_items{
		margin-right:0;
	}
	.key_plate{
		width:100%;
		justify-content:center;
	}
	.key_plate svg{
		display:none;
	}
}
@media (max-width: 480px){
	.balance{
		padding-left:0;
	}
	.balance .inner_balance{
		padding-left:10px;
	}
	.your_balance{
		flex-direction:column;
		
	}
	.add_balance_btn{
		border-top-right-radius: 0px;
    	border-bottom-right-radius: 5px;
    	border-bottom-left-radius:5px;
    	justify-content:center;
	}
	.comment{
		flex-direction:column;
	}
	.comment svg{
		min-width:30px;
		margin-right:0;
		margin-bottom:15px;
	}
}